body{
    margin: 0px;
    text-align: center;
    background-color: #ffffff;
    font-family: "Montserrat", sans-serif;
}
h1{
    width: 30%;
    margin:0 auto 0 auto;
    font-family: "Sacramento", cursive;
    font-size: 50px;;
}
h2{
    font-family: "Merriweather", serif;
}
h3{
    font-family: "Merriweather", serif;
}
img{
    height: auto;
    width: 100%;
    opacity: 90%;
}
hr{
    width: 45%;
    border-style: none;
    border-top-style: dotted;
    border-color:grey;
    border-width: 7px;
}
.name-description{
    position: relative;
    padding-top: 100px;
}
.profile-photo{
    height: 300px;
    width: 300px;
    border-radius: 100%;
}
.c-gif{
    height: 300px;
    width: 300px;
    border-radius: 100%;
    object-fit:cover;
    background-color: black;
}
.python-gif{
    height: 300px;
    width: 300px;
    border-radius: 100%;
    object-fit:cover;
}
.java-gif{
    height: 300px;
    width: 300px;
    border-radius: 100%;
    object-fit:cover;
}
.footer-link{
    font-size: 40px;
    color:#101419;
}